html, body, *{
    margin:0;
    padding:0;
    border:0;
    font-family: 'Roboto', sans-serif;
}
#lacRoi_ext{
    padding: 15px; 
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .version{
        font-size: 10px;
        padding-top: 5px;
    }
    .controls-right{
        display: flex;
        position: absolute;
        right: 15px;
        top: 0;       
        justify-content: flex-end;
        .coupon_controlls{
            position: absolute;
            left: -93px;
            #aply-cupon{
                font-size: 13px;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                    opacity: 0.6;
                }
            }
            span:last-of-type{
                font-size: 1rem;
                padding: 0 5px;
                padding-left: 0;
            }
        }         
        .container_dots_main {                      
            display: flex;
            justify-content: flex-end;
            .more-menu-items{
                text-align: left;                
                .more-menu-item{
                    padding: 5px 10px;
                    &:hover{
                        #go-to-options, #logOut{
                            color:#fff;
                        }
                    }
                }        
            }       
            .more{
                .more-btn, .more-menu-btn{
                    background: none;
                    border: 0 none;
                    line-height: normal;
                    overflow: visible;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    width: 100%;
                    text-align: left;
                    outline: none;
                    cursor: pointer;            
                   &:hover{
                        opacity: 0.5;
                    }
                } 
                .more-menu {
                    width: 100px;
                    left: -80px;
                    .more-menu-caret{
                        left: 72px;
                    }
                }
                .more-btn{                    
                    &:hover{
                        .more-dot, .show-more-menu{
                            .more-dot {
                                background-color: #516471;
                            }
                        }
                    }
                    i{
                        padding-top: 5px;
                    }
                }
            }
        }
        #go-to-options, #logOut{            
            font-size: 13px;
            cursor: pointer;        
            img{
                width: 18px;
                height: 18px;
            }
        }      
    }
    & > img{
        width:100%;
        max-width: 100px
    }
    .form{
        width: 100%;       
        .radios{
            padding: 0;
            font-size: 12px;
            margin: 15px;
            border: 1px solid #ddd !important;
            margin: 0;
            min-width: 0;
            padding: 10px;       
            position: relative;
            border-radius:4px;
            background-color:#f5f5f5;
            padding-left:10px!important;
            margin-bottom: 15px;
            margin-top:15px;
            text-align: left;
            & > label{
                vertical-align: text-bottom!important;
                padding-right: 20px; 
                padding-bottom: 0!important;                          
            }
            input, label{
                vertical-align: middle;                
                margin: 0;
            }
        }
        .card-body{
            padding: 0!important;
            #errorSearch{
               margin-top:10px ;
            }
        }
        #querySearch{
            display: flex;          
            width: 100%;
            margin:10px 0;
            margin-top: 0;
            .form-group{
                margin-bottom: 0;
            }            
            .accordion{
                width: 100%;
            }
            label{
                display: block;
                text-align: left;
                padding-left: 5px;
                font-size: 12px;
                margin-bottom: 0!important;
            }
            select{
                font-size: 12px;             
            }      
             [type="text"],  #category{
                border: 1px solid #d6d6d6;
                padding: 5px!important;
                outline: 0;
                margin: 5px;
                box-sizing: border-box;
                height: 30px;
                margin-top:0; 
            }
            button{
                margin-top: 10px;
                padding: 10px 20px;
                font-size: 16px;
                line-height: 22px;
                border-radius: 5px;
                background-color: #2cb6b0;
                font-weight: 700;
                color:#fff;
                -webkit-appearance: none;
                outline: 0;
                border: none;            
                &:hover{
                    opacity:0.8;
                }
            }
            #errorSearch{
                position: absolute;
                left: 0;
                right: 0;
                padding-top: 5px;
            }
        }
        #newSearch{  
            width: 100%;
            #brand{
                margin-bottom: 15px;
            }        
        }
    }
}
#product_info{
    padding: 15px;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
    min-height: 300px;
    #upload-file{
        #save{
            display: block;
            margin-top: 10px;
            font-weight: 600;
        }
    }
     #img-content{
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor:pointer;
        & > #product{
            width: 100%;
            max-width:200px; 
            margin: auto;                 
        }
        & > #addProduct{
            width: 100%;
            max-width: 80px;
            position: absolute;
            opacity: 0;
            left: 0;
            right: 0;
            text-align: center;
            margin: auto;
            transition: all 1s ease;
            cursor:pointer;
            z-index:999999999;
            &:hover{
                opacity: 0.9;
                #product {
                    opacity: 0.5;
                }
            }
        }        
    }
    .tittle{
        font-size: 15px;
        padding: 10px 0;
        text-align: center;
        border-bottom: 1px solid #000;
        margin-bottom: 13px;
        a{       
           color:#000;            
        }
    }
    ul{
        list-style: none;
        padding: 0;
        text-align: center;
        li{
            display:inline-block;
            width: 100%;
            max-width:33.3%;
            font-weight: 700;
            vertical-align: top;
            span{
                display:block;
                font-weight: normal;
            }
        }
        li.price{
            max-width:32%;
        }
    }
    #frm-login{
        text-align: center;
        width: 100%;
        & > img{
            width: 100%;
            max-width: 100px;
        }
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            position: relative;
            h2{
                font-size: 25px;
                padding: 10px;
            }
            #result{
                font-size: 13px;
                padding: 10px;
                display: none;      
            }
            input{
                box-sizing: border-box;
                border:1px solid #d6d6d6;
                padding: 10px;
                margin:15px 0;
                width: 100%;
            }
            button{
                margin-top: 15px;
                padding: 10px 20px;
                font-size: 16px;
                line-height: 22px;
                border-radius: 5px;
                background-color: #2cb6b0;
                font-weight: 700;
                color:#fff;
                -webkit-appearance: none;
                outline: 0;
                width: 100%;
                border: none;
                &:hover{
                    opacity:0.8;
                }
            }
            & > div{
                display:flex;
                align-content: space-around;
                width: 100%;
                padding: 15px 0;
                a{
                    color:#000;
                    text-decoration: none;
                    display: block;
                    flex-basis: 49%;
                    font-size: 14px;
                    &:hover{
                        opacity:0.6;
                    }
                }
            }
        }        
    }
    #myTab{
        width: 100%;
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li{
            margin-bottom: 0;
            width: initial;
            max-width: initial;
            a{
                font-size: 12px;
            }
        }
    }
}
.container-options{
   width: 100%;
   max-width: 800px;
   margin: auto;
   text-align: center;
   margin-top: 50px;
   & > h1{
       padding-bottom: 40px;
   }
   & > div{
       display: flex;
       text-align: left;
       padding: 20px  0;
       align-items: center;
       select{
            border:1px solid rgb(190, 190, 190);
            padding: 5px;
            width: 170px
       }
       label{
           font-size: 20px;
           padding-right:15px; 
       }
       span{
           padding:0 15px;
           font-size: 20px;

       }
       input{
           border:1px solid rgb(190, 190, 190);
           padding: 5px;
       }
   }
   button{
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 22px;
    border-radius: 5px;
    background-color: #2cb6b0;
    font-weight: 700;
    color: #fff;
    -webkit-appearance: none;
    outline: 0;
    border: none;
    width: 120px;
   }

}

.options, .jobs_Page, .jobs_Page_search{
    background-color: #f4f6f8;
    .card-container{
        margin-top:20px;
    }
    .card-info{
        padding: 20px;
        background-color: white;
        -webkit-box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
        box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
    }
    #msj-error{
        position: absolute;
        margin-top: -10px;
        font-size: 15px;        
        left: 0;
        right: 0;
        text-align: center;
        //font-weight: 600;
        text-transform: capitalize;
    }
}
.saveToTopList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 10px;
    padding-top: 10px;
    position: relative;
    &:hover{
        opacity: 1;
    }
    & > i{
        &:hover{
            opacity: 0.7;            
        }
    }
}

#searchTableBody, #toplistExtTbody{ 
    tr{
        background-color: #fff;
    }  
    td{
        padding-right: 15px; 
        padding-bottom: 0px;
        vertical-align: middle;      
        img{
            max-width: 80px;
            margin-top: 10px;
        }
        #success-img{
            max-width: 50px;
            margin: auto;
            text-align: center;
            display: block;
            margin-top: 8px;
            display: none;
            transition: all 5s ease;
            position: absolute;
            top: -89px;
            border-radius: 34px;
            left: 6px;
            opacity: 1;
            font-size: 50px;
            color: #ffffff;        
        }
    }
    .column_middle{
        width: 100%;
        max-width: 180px;
    }
    td:last-of-type{
        padding-right: 0px; 
        position: relative;           
    }
    th{
        padding-left: 0;
    }
    .info_Prod{
        display: flex;
        flex-direction: column;
        li {
            display: flex;
            width: 100%;
            max-width: 100%;
            font-weight: normal;
            font-size: 12px;
            padding: 1px;
            span:nth-of-type(1){
                font-weight: 600;
            }
        }
    }
    .container_asin{
        span{
        color: #000;
        font-weight: 600;
        font-size: 13px;
        }
        a{            
            color: #000;
            font-weight:normal;
            font-size: 13px;
            &:hover{
                opacity: 0.8;
            }
        }
        a:last-of-type{
            color: #8bc34a;
            font-size: 12px;
            display: block;
            margin-top: 0;
            position:absolute;
        }
    }
    .group_name {
        display: flex;
        width: 100%;
        max-width: 100%;
        font-weight: normal;
        font-size: 12px;
        padding: 1px;
        color:#000;
        span:nth-of-type(1){
            font-weight: 600;
        }
    }
}
.sucees-saved{
    #success-img{
        display:block!important;
        transition: all 5s ease;
    }
}

#cleanresults{
    color:#000;
    font-size: 12px;   
    display: inline-block;
}
.tab-content{
    width: 100%;  
}
#toplistExt{
    font-size:10px; 
    text-align:left;
  
    td{
        padding: 0;
        padding-right: 10px;
    }
}
.add-asin{
    margin: 15px 0;
    input{
        width: initial;
        margin-right: 5px;
        width: 74%;
    }
    button{
        background: #2cb6b0;
        border: none;
        &:hover{
            background: #2cb6b0;
            opacity: 0.7;
        }
        &:focus{
            background: #2cb6b0;
            border: none;
        }
        &:active{
            background-color: #2cb6b0!important;
        }
    }
}
#viewProduct1{
    padding-top: 10px;
}
#viewProduct, #viewProduct1{
    img.backTo{
        width: 100%;
        max-width: 20px;
        text-align: left;
        margin: initial;
        display: block;
    }
    span.backTo{
        color:#000;
        font-size: 15px;
        &:hover{
            text-decoration: underline;
            opacity: 0.7;
        }
    }
    #img-content{
        img{
           width: 100%;
           max-width: 200px;
           margin: auto;
        }
    }
    .graph{
        margin: 10px 0;
        display: none;
        max-width: 377px;
        position: absolute;
        left: -10px;
    }
    .loadImage{
        color:#000;
        font-size: 13px;
        &:hover{
            opacity: 0.8;
            text-decoration: underline;
        }
    }
}
.pagination{
    display: block;
    button{
        padding: .5rem .75rem;
        line-height: 1.25;
        color: #007bff;
        background-color: #fff;
        border: 1px solid #dee2e6;
        width: 100%;
    }
}

fieldset {
    border: 1px solid #ddd !important;
    margin: 0;
    min-width: 0;
    padding: 10px;       
    position: relative;
    border-radius:4px;
    background-color:#f5f5f5;
    padding-left:10px!important;
    margin-bottom: 15px;
}	
.title-label{
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0;
    padding-bottom: 7px;
    padding-top: 4px;
}
.modalNotes{   
    top: 15%;
    padding-right: 0!important;
    .modal-content{
        padding:15px ;
        .modal-header{
            padding:0 ;
            & > span{               
                font-size: 12px;
            }
           button{
                padding-top: 5px;
                padding-right: 9px;
               span{
                   font-size: 20px;
               }
           }
        }
        .modal-body{
            padding: 0;
            display: flex;
            flex-direction: column;
            padding-top: 15px;
            font-size: 12px;
            textarea{
                border: 1px solid #dee2e6;
                padding:5px;
                margin-bottom: 10px;
            }
            button{
                background: #2cb6b0;
                border: none;
                &:hover{
                    background: #2cb6b0;
                    opacity: 0.7;
                }
            }
        }
    }
    .resultNote{
        display:none;
    }
}
.container_notes{
    background: #EAF763;
    padding: 10px;
    p{
        text-align: left;
        font-weight: 600;
        font-size: 13px;
        border-bottom-width: 2px;
        border-bottom-style: dotted; 
        margin-bottom: 5px;       
    }
    span{
        text-align: left;
        font-weight: normal; 
        font-size: 13px;
        display:block; 
    }
}
.action_Buttons{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    & > span{
        font-size: 20px;
        display: block;
        padding:5px 0;
        text-align: center;
        cursor: pointer;         
        .fa-sticky-note{
            color: #a5a5a5;
            &:hover{           
                opacity: 0.8;
            }
        }
        .fa-plus{
            color: #f08251;
            &:hover{           
                opacity: 0.8;
            }
        }
        .fa-trash-alt{
            color: #f05151;
            &:hover{           
                opacity: 0.8;
            }
        }
        .fa-pencil-alt{
            color: peru;
            &:hover{           
                opacity: 0.8;
            }
        }  
    }   
}
.active_notes{
    cursor: pointer;
    text-align: center;
    display: block;
    padding-top: 3px;
    &:hover{
        text-decoration: underline;
        opacity: 0.8;
    }
}

.form_edit_info{
    form{                
        input{
            width: 47%;
            display: inline-block;
            border: 1px solid #d6d6d6;
            padding: 5px;
            outline: 0;
            margin: 5px;
            box-sizing: border-box;
            height: 30px;
            margin-top: 0;
            margin-right: 0;
            font-size: 12px;
        }
        button{
            display:block;
            width: 100%;
        }
    }
}


.modalInfo{
    padding: 0!important;
    top: 7%;
    .modal-content{
        padding: 15px;
        .modal-header{
            padding: 0!important;
            & > span{
                font-size: 12px;
            }
        }
        .modal-body{
            padding: 0;
            display: flex;
            flex-direction: column;
            padding-top: 15px;
            font-size: 12px;
            textarea{
                border: 1px solid #dee2e6;
                padding:5px;
                margin-bottom: 10px;
            }
            button{
                background: #2cb6b0;
                border: none;
                &:hover{
                    background: #2cb6b0;
                    opacity: 0.7;
                }
                &:focus{
                    background: #2cb6b0;
                    opacity: 0.7;
                }
            }
        }
    }
}

#toplist{  
    td{
        width: 100%;
        max-width: 160px;
    }
}
.productOpen, .gotoebayTopList, .gotoebayPopulateProds{
    &:hover{
        cursor:pointer;
        text-decoration: underline;       
    }
}
.gotoebayTopList{
    
    &:hover{
        text-decoration: underline;    
    }
}
.searchByTitle span{
    color: #000;
    font-weight: 600;
    font-size: 13px;
    &:hover{
        opacity: 0.8;
    }
}
#toplistExt_filter{
    @media screen and (max-width:700px){
        margin-top:0;
    }
    input{
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        border: 1px solid #ced4da;
        padding:0 4px;
    }
}
.styleUpc, .searchByIsbn, .style-link, .searchByUPC{
    &:hover{
        text-decoration:underline;
        cursor: pointer;
        cursor:hand;
    }
}
.search-all{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    & > div{
        padding: 0;
    }
    #random-search{
      
        background: #2cb6b0;
        border: none;
        &:focus{
            background: #2cb6b0;
            border: none;
        }
        i{
            padding-right: 5px;
        }
    }
}
.resultNote{
    display:none;
}

#type-Account{
    position: absolute;
    left: 15px;
    top: 0px;
    font-size: 15px;
    span{                
        font-weight: 600;
        cursor: pointer;
        text-transform: capitalize;
        i{
            padding-left: 3px;
        }
    }    
}
.modal-open{
    padding-right: 0!important;
}
.modaltrial{
    padding-right: 0!important;    
    padding-right: 0;
    top: 40px;
    .modal-header{
        span{
            text-transform: uppercase;
            color:#22b37c;
        }
    }
    .modal-body{
        background: #efefef;
        border-top: 1px solid #22b37c;
        border-bottom: 1px solid #22b37c;
    }
    .buttons-expired{
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
        #to_premium{
            margin-right: 5px;
            background-color: #22b37c;
            border-color: #22b37c;          
        }
        #to_cancel{
            background-color: #fff;
            border-color: #22b37c;
            color:#22b37c;
        }
    }
}

.resultNote{
    display:none;
}
.modalCupon,  .modaljob, .modalrefresh, .modaljob_result{
    top: 15%;
    padding-right: 0!important;
    .modal-content{
        padding:15px ;
        .modal-header{
            padding:0 ;
            & > span{               
                font-size: 12px;
            }
           button{
                padding-top: 5px;
                padding-right: 9px;
               span{
                   font-size: 20px;
               }
           }
        }
        .modal-body{
            padding: 0;
            display: flex;
            flex-direction: column;
            padding-top: 15px;
            font-size: 12px;
            .title_job{
                font-size: 20px;
                margin-bottom: 20px;
                text-align: center;
                border-bottom: 1px solid #ececec;
                padding-bottom: 20px;
            }
            input{
                border: 1px solid #dee2e6;
                padding: 5px;
                margin-bottom: 10px;
                height: 40px;
                border-radius: 3px;
            }.cupon-container-btn{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                button:first-of-type{
                    background: #2cb6b0;
                    border: none;
                    width: 130px;
                    margin-right: 5px;
                    &:hover{
                        background: #2cb6b0;
                        opacity: 0.7;
                    }
                }
                button:last-of-type{
                    background: #fff;
                    color:#2cb6b0;                   
                    border: none;
                    width: 80px;                    
                    border: 1px solid #2cb6b0;
                    &:hover{
                        background: #fff;
                        opacity: 0.7;
                    }
                }
            }
        }
    }
    .resultNote{
        display:none;
    }
}

#saveaddasin{   
    background-color: #2cb6b0;
    border-color: #2cb6b0;
    &:hover, :disabled{
        background-color: #2cb6b0;
        border-color: #2cb6b0;
    }
}

#toplist_filter, .dataTables_filter{
    label{
        input{
            border:1px solid #000;
        }      
    }
}
#msj_toplist{
    display:none;
}

.container_dots {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
    .more{
        .more-btn, .more-menu-btn{
            background: none;
            border: 0 none;
            line-height: normal;
            overflow: visible;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            width: 100%;
            text-align: left;
            outline: none;
            cursor: pointer;            
            .more-dot {
                background-color: #aab8c2;
                margin: 0 auto;
                display: inline-block;
                width: 7px;
                height: 7px;
                margin-right: 1px;
                border-radius: 50%;
                transition: background-color 0.3s;
            }
        } 
        .more-menu {
            width: 100px;
        }
        .more-btn{
            &:hover{
                .more-dot, .show-more-menu{
                    .more-dot {
                        background-color: #516471;
                    }
                }
            }
        }
    }
}

/* More Button / Dropdown Menu */

.more-menu {
    position: absolute;
    z-index: 900;
    padding: 10px 0;
    margin-top: 9px;
    background-color: #fff;
    border: 1px solid #ccd8e0;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transform: translate(0, 15px) scale(0.95);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;
    left: -15px;
    .more-menu-caret {
        position: absolute;
        top: -10px;
        left: 64px;
        width: 18px;
        height: 10px;
        overflow: hidden;
        .more-menu-caret-outer, .more-menu-caret-inner{
            position: absolute;
            display: inline-block;
            margin-left: -1px;
            font-size: 0;
            line-height: 1;
        }
        .more-menu-caret-outer {
            border-bottom: 10px solid #c1d0da;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            height: auto;
            left: 0;
            top: 0;
            width: auto;    
        }
        
        .more-menu-caret-inner {
            top: 1px;
            left: 1px;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-bottom: 9px solid #fff;
        }
    }
    .more-menu-items {
        margin: 0;
        list-style: none;
        padding: 0;
        display:flex;
        flex-direction: column;
        .more-menu-item {
            display: block;
            max-width: 100%!important;
            padding: 5px 0;
            &:hover{
                background-color: #489fe5;
                .more_option{
                    color: #fff;
                }
            }
            .more-menu-btn {
                min-width: 100%;
                color: #66757f;
                cursor: pointer;
                display: block;
                font-size: 13px;
                line-height: 18px;
                padding: 5px 20px;
                position: relative;
                white-space: nowrap;             
            }
            .more_option{
                color: #66757f;
                cursor: pointer;
                display: block;
                font-size: 13px;
                line-height: 18px;                
                position: relative;
                white-space: nowrap;
            }           
        }
    }
}
.show-more-menu{
    .more-menu {
        opacity: 1;
        transform: translate(0, 0) scale(1);
        pointer-events: auto;
    }
}
.deals_page, .jobs_Page, .jobs_Page_search{
    background: #f4f3f3;
    .container_best, #get_prods_job, #get_prods_job_search{
        width: 100%;
        max-width: 1000px;
        margin: auto;        
        margin-top: 60px;
        padding: 15px;
        & > div {
            display: flex;
            margin: 35px 0;
            border-bottom: 1px solid #6d6d6d;
            padding-bottom: 35px;
            & > div{
                margin: 0 35px;
                display: flex;
                align-items: center;
                img{
                    width: 100%;
                    max-width: 200px;
                }
            }
            ul{
                display: flex;
                list-style: none;
                flex-wrap: wrap;
                flex-direction: column;
                li{
                    padding-bottom: 5px;
                    border-bottom: 1px solid #9090904f;
                    margin-bottom: 15px;                
                    a{
                        color:#000;
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }                        
                    }
                    span{
                        display: block;
                        font-weight: 600;
                        font-size: 16px;
                        color:#000;
                    }                   
                    div:first-of-type{
                        width: 100px;
                    }                
                }
                .roi-section{
                   span:last-of-type{
                       font-weight: normal!important;
                   }
                }
                .block_container{
                    display: flex;                   
                }
            }
        }        
    }
    .container_jobs{
        padding: 30px 0;
    }
}

.green{                     
        color: #1eb939;
}
.overlay{
    display:flex;
    justify-content:center;
    align-items:center;
    width:auto;
    height:100vh;
  }
  /*BALLS SETTINGS*/
  .ball{
    width:30px;
    height:30px;
    border-radius:15px;
    background:white;
    opacity:0.3;
  }
  .a{
    margin-right:10px;
    animation: ball-a 0.7s ease-out 0s infinite alternate;
    /*animation-tutorial: name duration ease delay iterate-count direction*/
  }
  .b{
    margin-right:10px;
    animation: ball-b 0.7s ease-out 0.2s infinite alternate;
  }
  .c{
    animation: ball-c 0.7s ease-out 0.4s infinite alternate;
  }
  /*ANIMATION STORAGE*/
  @keyframes ball-a {
    from{
      height:20px;
      opacity:0.3;
      background:white;}
    to{
      height:70px;
      opacity:1;
      background:#FFDE00;}
  }
  @keyframes ball-b {
    from{
      height:20px;
      opacity:0.3;
      background:white;}
    to{
      height:65px;
      opacity:1;
      background:#ED1C24;}
  }
  @keyframes ball-c {
    from{
      height:20px;
      opacity:0.3;
      background:white;}
    to{
      height:60px;
      opacity:1;
      background:#044D70;}
  }


#jobs_tab{
    margin: 20px 0;
    margin-bottom: -15px;
    .overlay{
        height: 20vh;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -80px;
    }
    .__item {
        > .accordion-button {
            background-color: #f4f3f3;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                right: 0;
                margin: auto 15px;
                width: 10px;
                height: 10px;
                border: 1px solid #000;
                transform: rotate(45deg);
                border-left: 0;
                border-top: 0;
                transition: 0.2s;
            }
            + .inner {
                width: 100%;  
                background-color: white;
                height: 0;
                display: none;
                box-sizing: border-box;
                transition: all 0.4s ease-in-out;
                padding: 0 18px;
            }
        }

        &.active {
            .accordion-button.active {              
                &:after {
                    content: '';
                    transform: rotate(-135deg);
                    transition: 0.2s;
                }
                + .inner {
                    height: auto;
                    display: block;
                    transition: all 0.4s ease-in-out;                   
                    & > div{
                        border-bottom: 1px solid #f3f3f3;
                        padding-bottom: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;   
                        ul{
                            display: flex;
                            flex-direction: column;
                            text-align: left;
                            font-size: 14px;
                            margin-bottom: 0;
                            li{
                                width: 100%;
                                max-width: 100%;
                                font-weight: 600;
                                display: flex;
                                padding: 2px 0;
                                span{
                                    font-weight: normal;
                                    padding-left: 10px;                                   
                                }
                                
                            }
                            .status_job{
                                span{
                                 padding: 6px;
                                 letter-spacing: 0.01rem;
                                 text-transform: capitalize;
                                }
                             }
                        }
                        & > div{
                            flex-basis: 10%;
                            flex-basis: 10%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            height: 110px;
                            span{
                                width: 85px;                                
                            }
                        }
                    }
                    .msj_job_empty{
                        display: block;
                        padding: 15px 0;
                        margin-top: -.5rem;
                        font-size: 14px;
                    }
                }
            }
        }
    } 
}



#msj-job, #msj-refresh, #msj-job_result{    
    text-transform: capitalize;
    display: none;
}

.jobs_Page, .jobs_Page_search{
    /*******************************
    * MODAL AS LEFT/RIGHT SIDEBAR
    * Add "left" or "right" in modal parent div, after class="modal".
    *******************************/
    .modal.left .modal-dialog,
    .modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 700px;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
            -ms-transform: translate3d(0%, 0, 0);
            -o-transform: translate3d(0%, 0, 0);
                transform: translate3d(0%, 0, 0);
    }

    .modal.left .modal-content,
    .modal.right .modal-content {
        height: 100%;
        overflow-y: auto;
    }

    .modal.left .modal-body,
    .modal.right .modal-body {
        padding: 15px 15px 80px;
    }

    /*Right*/
    .modal.right.fade .modal-dialog {
        right: -700px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
            -o-transition: opacity 0.3s linear, right 0.3s ease-out;
                transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right.fade.show .modal-dialog {
        right: 0;
    }

    /* ----- MODAL STYLE ----- */
    .modal-content {
        border-radius: 0;
        border: none;
    }

    .modal-header {
        border-bottom-color: #EEEEEE;
        background-color: #FAFAFA;
    }

    #get_prods_job, #get_prods_job_search{
        margin-top: 0px!important;
        & > div{
            & > div{            
                align-items: normal!important;
                margin-left: 0!important;
            }
        }    
    }
}
.loader_container{
    .overlay{
        height: 80vh;    
    }
}
.dots_results{
    margin-bottom: 12px; 
}
.menu_topList{
    .more-menu-items{          
        li:nth-of-type(2){
            padding-left: 0px!important;
            margin-left: -2px;
        }
    }
}
.menu_topList, .dots_results{
    position: relative;
    display: flex;
    justify-content: flex-end;
    .container_dots{
        position: relative;
        top: 5px;
        .more-menu{
            left: -85px;            
            width: 125px;
            .more-menu-caret{
                left: 85px;
            }
            .more-menu-items{                
                .more-menu-item{
                    cursor: pointer;
                    padding: 5px;
                    &:hover{
                        span{
                            color:#fff;
                        }
                    }
                    span{
                        font-size: 13px;
                        line-height: 18px;
                        position: relative;
                        white-space: nowrap;
                        color: #66757f;                        
                    }
                }
            }
        }
    }
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    .rubik-loader{
        width: 64px;
        height: 64px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-image: url(http://i.giphy.com/3og0ISeflb7vrNzy2A.gif);
        background-repeat: no-repeat;
        background-position: center;
    }        
}
.header-groups{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d2d6d9;
    margin-bottom: 40px;
    padding-bottom: 10px;
}
.coontainer_groups{    
    & > div{
        .item_group{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #d2d6d9;
            margin-bottom: 25px;
            padding-bottom: 20px;
            & > div:first-of-type{
                display: flex;
                flex-direction: column;
                span{
                    font-weight: 600;
                    font-size: 15px;
                    padding-bottom: 5px;
                    span{
                        font-weight: normal;
                    }
                }              
            }
            & > div:last-of-type{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }          
        }
    }
}

.loader_groups, .loader_topList{
    .overlay{
        height: 55vh;
    }
}

.loader_topList_ext{
    .overlay{
        height: 30vh;
 
    }
}

.breadcrumb_category{
    text-align: left;
    padding-bottom: 10px;
    padding-left: 7px;   
    font-size: 13px;
    margin-top: 5px;
  span{
    padding-right:5px;
    text-decoration: underline;
      span{
          font-weight: 800;
          padding-left: 3px;
          font-size: 15px;
          text-decoration: none;
          text-decoration:underline whitesmoke;
      }
  }
}

.cleanSelect{
    font-size: 12px;
    text-align: center;
    width: 100%;
    max-width: 60px;
    margin: auto;    
        &:hover{
            opacity: 0.8;
            text-decoration: underline;                              
    }
}
